
/* All boxes */
.form-input-wide.jf-required {
    width : 100%;
}

.form-textbox, .form-textarea {
    width : 100%;
    border : 1px solid #ccc;
    height : 30px;
}

input:focus {
    opacity : 1;
    outline : none;
}

/* .form-line.jf-required ul li:focus {
    background-color : red;
    opacity : 1;
}

/* Controls the color of the textbox in focus
input[type=text]:focus, textarea:focus,
.form-line-active textarea:focus {
    border : 2px dashed rgba(79,176,174, 0.4);
    outline : 0 none;
}

/* -------- */
.form-label-top {
    color : #666;
    font-family : "Open Sans", Helvetica, Arial, sans-serif;
    font-weight : 500;
    font-size : 14px;
    margin-bottom : 25px;
}

/* Adds space under label */
.form-label-top {
    margin-bottom : 8px !important;
}

/* -------- */
#id_7 .form-textbox {
    padding-right : 20px;
}

#sublabel_phone {
    margin-left : 25px;
}

#input_7_phone.form-textbox {
    margin-left : 25px;
}

.phone-separate {
    display : none;
}

/* To style the fields */
input#last_1 {
    margin-left : 8px;
}

#sublabel_last {
    margin-left : 10px;
}

/* Date of Meeting */
#month_8 {
    margin-right : 5px;
}

#day_8 {
    margin-left : 5px;
    margin-right : 5px;
}

#sublabel_day.form-sub-label {
    padding-left : 6px;
}

#sublabel_year.form-sub-label {
    padding-left : 11px;
}

#year_8 {
    margin-left : 10px;
}

span.date-separate {
    display : none;
}

img.showAutoCalendar {
    margin : 10px 0 0 15px;
}

/* -------- */
.form-label {
    display : inline;
}

/* Form Errors change to pink */
.form-required {
    color : #e74c3c;
}

.form-line-error 
.form-error-message {
    background-color : #EF6262;
}

.form-line-error .form-error-message .form-error-arrow {
    border-bottom-color : #EF6262;
}

/* -------- */
.time-dropdown.form-dropdown {
    border : 2px solid #d2d2d2;
    color : #777;
    font-size : 14px;
    transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color : #fff;
}

.imageContainer.blocks {
    margin-top : 10px;
    background-color : red;
}

.jotform-form {
    padding : 0;
    width : 100%;
}

